<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to 'Media Ranker', root_path %>
      </h1>

      <h2>
        Ranking the Best of Everything
      </h2>
    </header>

    <nav>
      <section>
        <ul>
          <li>
            <%= link_to 'View top media', root_path %>
          </li>
          <li>
            <%= link_to 'View all media', works_path %>
          </li>
          <li>
            <%= link_to 'Add a new work', new_work_path %>
          </li>
          <li>
            <%= link_to 'View all users', users_path %>
          </li>
        </ul>
      </section>

      <section>
        <% if session[:user] %>
          <%= link_to session[:user], user_path(session[:user_id]) %>
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Log In", login_path %>
        <% end %>
      </section>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
